body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #000000;
    color: #7e7c7c;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
    margin: 0 15px
}

nav {
    display: flex;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

.container {
    background-color: #fff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

h2 {
    text-align: center;
    margin-left: -1200px;
    color:#f4f4f4
}

label {
    display: block;
    text-align: left;
    margin-bottom: 6px;
    color: #333;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
    background-position: right 8px top 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 30px;
}

button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
